@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: rgb(231, 231, 203);
  display: flex;

}

.card{
  background: rgba(203, 174, 233, 0.2);
  border-radius: 20px;
  cursor: pointer;
  height: 300px;
  width: 250px;
  margin: 1em;
  font-family: 'Roboto';
}

.card:hover{
  transform: scale(1.05);
  transition: 0.3s ease;
}

.itemTitle{
  font-weight: 300;
}
.itemContent {
  font-weight: 500;
}
.itemContent, h3 {
  padding-left: 7px;
}



.imgContainer{
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
  border-bottom: 2px solid silver;
}



ul{
  width: 100%;

}

ul li{
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5px 0;
  padding: 0.3em;
  list-style: none;
}